@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 211 28% 19%;
    --foreground: 210 20% 98%;
    --card: 211 28% 17%;
    --card-foreground: 210 20% 98%;
    --popover: 211 28% 19%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 29% 29%;
    --primary-foreground: 210 20% 98%;
    --secondary: 211 20% 25%;
    --secondary-foreground: 210 20% 98%;
    --muted: 211 20% 25%;
    --muted-foreground: 210 10% 70%;
    --accent: 37 90% 51%;
    --accent-foreground: 211 28% 19%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 211 20% 25%;
    --input: 211 20% 25%;
    --ring: 37 90% 51%;
    --chart-1: 37 90% 51%;
    --chart-2: 210 29% 29%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
    overflow-x: hidden;
  }
}

/* Custom hide scrollbar but keep functionality if needed */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}